SECURITY_HASH_SECRET=
SECURITY_ALLOWED_ORIGINS=https://esmasqueunpinguino.cl,https://www.esmasqueunpinguino.cl,https://masqueunpinguino.cl,https://www.masqueunpinguino.cl,http://localhost:4321
SECURITY_CAPTCHA_ENABLED=false
SECURITY_CAPTCHA_PROVIDER=turnstile
PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

FIREBASE_SERVICE_ACCOUNT_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_CLIENT_EMAIL=
FIREBASE_SERVICE_ACCOUNT_PRIVATE_KEY=
FIREBASE_SIGNATURES_COLLECTION=campaign_signatures
FIREBASE_SIGNATURES_DEDUPE_EMAIL_COLLECTION=signature_dedupe_email
FIREBASE_SIGNATURES_DEDUPE_IDENTITY_COLLECTION=signature_dedupe_identity
FIREBASE_SIGNATURES_DEDUPE_RUT_COLLECTION=signature_dedupe_rut

PUBLIC_FIREBASE_API_KEY=
PUBLIC_FIREBASE_AUTH_DOMAIN=
PUBLIC_FIREBASE_PROJECT_ID=
PUBLIC_FIREBASE_STORAGE_BUCKET=
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
PUBLIC_FIREBASE_APP_ID=
PUBLIC_FIREBASE_SIGNATURES_COLLECTION=campaign_signatures
PUBLIC_FIREBASE_COUNTER_COLLECTION=public_stats
PUBLIC_FIREBASE_COUNTER_DOC=signatures_counter
