PUBLIC_FIREBASE_API_KEY=
PUBLIC_FIREBASE_AUTH_DOMAIN=
PUBLIC_FIREBASE_PROJECT_ID=
PUBLIC_FIREBASE_STORAGE_BUCKET=
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
PUBLIC_FIREBASE_APP_ID=
PUBLIC_FIREBASE_SIGNATURES_COLLECTION=campaign_signatures
PUBLIC_FIREBASE_COUNTER_COLLECTION=public_stats
PUBLIC_FIREBASE_COUNTER_DOC=signatures_counter
